# Ignore node_modules
node_modules/

# Ignore build directories
android/build/
android/app/build/
ios/build/

# Ignore Metro bundler cache and logs
.expo/
.expo-shared/
npm-debug.*
yarn-debug.*
yarn-error.*
android/.gradle
!android/.gradle/wrapper/gradle-wrapper.jar
!android/gradlew
!android/gradlew.bat
!android/gradle/wrapper/gradle-wrapper.properties
ios/Podfile.lock

# Ignore environment files
.env
.env.local

# Ignore IDE specific files
.vscode/ # If you don't want to share VS Code settings

# Ignore Native specific files
android/.idea/
ios/.idea/
*.iml

# Ignore bundled assets
android/app/src/main/assets/bundles/index.android.bundle
ios/main.jsbundle

# Ignore CocoaPods files
ios/Pods/

# Ignore fastlane files
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Ignore detenv files
.detenv

# Ignore keystore file for signing
*.keystore
android/app/*.keystore

# Ignore Android studio files
captures/

# Ignore Xcode files
*.pbxuser
*.xcscheme
xcuserdata/

# Other ignores
*.log
*.swp
.DS_Store
